In [8]:
import sqlite3

In [15]:
db = sqlite3.connect('db.sqlite')
c = db.cursor()
c.execute("""
        SELECT id, username, authority, password_hash, authority
        FROM accounts
        """)
user_data = c.fetchall()
print(user_data)
c.close()
db.close()

[(1, 'asd', 0, b'$2b$12$/31r3uxCRq/zszQje1OQf.PS2sUbYA8H7fVLlFreI93Rtbu3ZVu6y', 0), (2, 'dd', 0, b'$2b$12$SkUVtg/yFguwoQ27HC2nX.h4VUlg0MbnSAh7SNO/bD389NeVyY8i6', 0)]

In [14]:
db = sqlite3.connect('db.sqlite')
c = db.cursor()
c.execute("""

        UPDATE accounts
        SET authority = 4
        WHERE id = 2;

        """)
db.commit()
c.close()
db.close()